.dateBlock {
  padding: 0 20px;
  width: 100%;
  height: 187px;
  border-bottom: 1px solid #d7d7d7;
  display: grid;
  grid-template-columns:
    100%;
  grid-template-rows:
    60px 120px;

  h5 {
    @include gridCR(1,2,1,2);
    @include gridItemPosition(start, center);
    font-weight: 700;
  }

  .timeBlock {
    @include gridCR(1,2,2,3);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:
      100%;
    grid-template-rows:
      60px 60px;
    
    .datepicker {
      margin: 0;
      width: 180px;
      background: #ffffff;
      border-bottom: 0;
      padding: 0 0.5rem;
    }
    
    .startDateEle {
      @include gridCR(1,2,1,2);
      @include flex(space-between);
    }

    .endDateEle {
      @include gridCR(1,2,2,3);
      @include flex(space-between);
    }
  }
}